* {
    margin: 0;
    padding: 0;
}

.header_top {
    padding: 18px 0;
    background-color: #222222;
}
.container {
    max-width: 1160px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.item:not(:last-child) {
    margin-right: 41px;
}

.header_bottom {
    height: 764px;
    background-color: #F1E4E6;
    background-image: url(./image/Layer.png);
    background-repeat: no-repeat;
    background-position: -100px bottom;
    margin-bottom: 65px;
}

.words {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.words_flex {
    max-width: 377px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.words_one {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: bolder;
}

.words_two {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
}

.red {
    color: #F16D7F;
}

.card_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_block {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./image/woman.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 260px;
}

.link_card {
    text-decoration: none;
}

.card_offer {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
}

.offer_text {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #F16D7F;
    font-weight: 700;
}

.man {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./image/man.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 260px;
}

.kids {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./image/kid.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 260px;
}

.card_block:not(:last-child) {
    width: 360px;
    margin: 0 0 35px 0;
}
.acces {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./image/acces.png);
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 96px;
}

.paragraf {
    display: flex;
    justify-content: center;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 48px;
}

.heading {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 6px;
}

.product_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card_item_top {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.item_top:hover {
    filter: brightness(50%);
}

.product_btn {
    position: absolute;
    height: 420px;
    width: 360px;
    background-color: rgba(58, 56, 56, 0.86);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.card_item_top:hover .product_btn {
    opacity: 1;
    cursor: pointer;
}

.btn_basket {
    display: flex;
    align-items: center;
    border: 1px solid #FFFFFF;
    padding: 15px;
}

.btn_basket_text {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFF;
}

.item_box {
    background-color: #F8F8F8;
    padding: 20px;
} 

.product_bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
}

.link {
    text-decoration: none;
}

.item_box_head {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: black;
}

.item_box_par {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-top: 12px;
    padding-bottom: 18px;
}

.cost {
    color: #F16D7F;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.but {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}

.but_name {
    color: #F26376;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 14px 38px;
    background-color: #FFFFFF;
    border-color: #F26376;
    cursor: pointer;
}

.but_name:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
}

.block_offer {
    background-color: #222224;
}

.offer {
    
    
    height: 341px;
    display: flex;
    align-items: center;
}

.offer_left {
    text-align: center;
}

.offer_car {
    margin-bottom: 28px;
}

.offer_name {
    color: #FBFBFB;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 16px;
}

.offer_par {
    color: #FBFBFB;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
}

.offer_middle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 448px;
    background-image: url(./image/subscribe.png);
}

.par_common {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #222224;
    line-height: 24px;
}

.offer_middle_pic {
    display: flex;
    justify-content: center;
}

.offer_middle_par {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    width: 359px;
}

.offer_middle_name {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 557px;
}

.frase {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #222224;
}

.frase_next {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #222224;
    line-height: 40px;
}

.subscribe {
    margin-top: 39px;
    display: flex;
    justify-content: center;
}

.sub-text {
    background-color: #E1E1E1;
    width: 256px;
    height: 49px;
    border-radius: 23px 0 0 23px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #222224;
    border-right: none;
}

.btn-text {
    background-color: #F26376;
    width: 100px;
    height: 53px;
    border-radius: 0 23px 23px 0;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-left: none;
    cursor: pointer;
}

.btn-link {
    display: block;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222224;
    width: 100%;
    height: 79px;
}

.footer-icon {
    display: flex;
}

.footer-par {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FBFBFB;
    line-height: 19px;
}

.footer_pic {
    background-color: #FFFFFF;
    padding: 9px;
    margin: 7px;
}

.footer_pic:hover {
    background-color: #F16D7F;
}

.menu_back {
    background-color: #F8F3F4;
}

.menu_catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 148px;
}

.catalog_new {
    text-decoration: none;
    color: #F16D7F;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.catalog_nav {
    display: flex;
}

ul.breadcrumb {
    list-style: none;
    
}

ul.breadcrumb li {
    display: inline-block;
    padding-right: 3px;
}

.breadcrumb_list {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #636363;
    line-height: 17px;
    list-style: none;
}

.active {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #F16D7F;
    line-height: 17px;
}

.roll_menu {
    display: flex;
    justify-content: space-around;
    margin-top: 51px;
}

.topmenu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 51px;
}

.topmenu-link-filter {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}

.filter:hover .topmenu-box {
    display: flex;
}

.topmenu-link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #6F6E6E;

}

.topmenu-box {
    background-color: #FFFFFF;
    padding: 7px;
    position: absolute;
    display: none;
}

.topmenu-box:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0px;
    left: 16px;
    transform: rotate(45deg);
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

.topmenu-flex {
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.topmenu-flex-link {
    display: block;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#6F6E6E;
    line-height: 25px;
    padding-left: 34px;
}

.topmenu-flex-link:hover {
    color: #F16D7F;
    
}

.topmenu-heading {
    width: 360px;
    height: 37px;
    border-left: 5px solid #EF5B70;
    border-bottom: 1px solid #EBEBEB;
    padding: 24px 0 11px 11px;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #EF5B70;
    line-height: 17px;
}

.topmenu-checkbox {
    display: flex;
    flex-direction: column;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 79px;
    padding-left: 10px;
}

.last:hover .topmenu-box {
    right: 0;
}

.card-catalog {
    margin-top: 65px;
    margin-bottom: 19px;
}

.card_top,
.card_bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.catalog-page {
    display: flex;
    justify-content: center;
    border: 1px solid #EBEBEB;
    height: 43px;
    margin-bottom: 96px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #EBEBEB;
    margin-bottom: 97px;
}

.pag_link {
    text-decoration: none;
    padding-right: 17px;
}

.brasket {
    color: #000000;
    font-weight: bolder;
}

summary {
    display: list-item;
}

details > summary {
    list-style: none;
    cursor: pointer;
}

details > summary::-webkit-details-marker {
    display: none;
}



